<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
</head>

<body>
    <!-- <%= user.username %>
    <p>Your User ID: <%= user._id %></p> -->
    <h2>Welcome to Dashboard</h2>
    <a href="/posts/feed"><button>Show all feed</button></a>


    <h3>Send Friend Request</h3>
    <form action="/friend-request-sent" method="POST">
        <input type="text" name="IdToRequest" placeholder="Enter user ID to send request" required>
        <button type="submit">Send Request</button>
    </form>
    
    <h3>Pending Friend Requests</h3>
    <ul>
        <% friendRequests.forEach(request=> { %>
            <li>
                <%= request.username %>
                    <form action="/friend-request/<%= request._id %>/accept" method="POST" style="display:inline;">
                        <button type="submit">Accept</button>
                    </form>
            </li>
            <% }) %>
    </ul>
    
    <h3>Friends List</h3>
    <ul>
        <% friends.forEach(friend=> { %>
            <li>
                <%= friend.username %>
            </li>
            <% }) %>
    </ul>




    <h3>Create a Post</h3>
    <form action="/posts" method="POST">
        <textarea name="content" placeholder="Write something..." required></textarea>
        <button type="submit">Post</button>
    </form>
    
    <h3>All Posts</h3>
    <ul>
        <% posts.forEach(post=> { %>
            <li><strong>
                    <%= post.userId.username %>:
                </strong>
                <%= post.content %> (at <%= post.createdAt %>)

                <br> <small>Likes: <%= post.likes.length %></small>
                
                <!-- Like Button -->
                <form action="/posts/<%=post._id %>/like" method="POST" style="display:inline;">
                    <button type="submit">Like</button>
                </form>


                <h4>Comments</h4>
                <ul>
                    <% post.comments.forEach(comment=> { %>
                        <li><strong>
                                <%= comment.userId.username %>:
                            </strong>
                            <%= comment.text %>
                        </li>
                        <% }) %>
                </ul>
                
                <!-- Add Comment -->
                <form action="/posts/<%= post._id %>/comment" method="POST">
                    <input type="text" name="text" placeholder="Add a comment" required>
                    <button type="submit">Comment</button>
                </form>

            </li>
            <% }) %>
    </ul>

    <a href="/logout"><button>Logout</button></a>
</body>

</html>